/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #06e; }
a:visited { color: #06e; }
a:hover { color: #ff8b00; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { 
	margin: 1em 0; 
	padding: 0; 
	list-style-type:none;
	}
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0 auto; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

/* custom code */
body {
	font-family:Georgia, "Times New Roman", serif;
	color:#333;
	font-size: 1.2em;
	line-height:1.4em;
	text-align: center;
	
	}

h1 {
  position: relative;
  /* width: 1050px; */
  height: 2.6em; 
  margin:0;
  padding:1em 3.5em 0 0;
  font-size: 2em;
  text-align:right;
}

h1:after {
  content: url("../img/me.jpg ");
  position: absolute;
  left: 0;
  top: 0;
}
/* h2 {display:none;} */
h3, 
h4,h6 {font-style: italic;}
h5 {text-decoration: underline}
h6 {
	font-weight:400;
	font-size: 1em;
	line-height: 1.1em;
	margin: 1.5em 0 .5em;
	}

#pagebody {
	text-align: left;
	padding-bottom:1.5em;
	}
/* nav css */
#page-wrap {
	width: 900px;
	margin: 25px auto;
	}
#heating #page-wrap {
	background: transparent 0 190px url(../img_heating/Energy_Saving_966.jpg) no-repeat;
} 

a { text-decoration: none; }

nav ul {
	list-style: none; 
	padding-bottom: 1em;
	}
p {
	margin:0;
	padding:0.5em 0
	}


/* 
	LEVEL ONE
*/
ul.dropdown { position: relative; }

ul.dropdown li {
	font-size:1.4em;
	font-weight: bold;
	float: left;
	zoom: 1;	
	background-color: rgba(255,139,0,0.85);
	}
ul.dropdown a:hover { color: #fff; }

ul.dropdown a:active { color: #ffa500; }

ul.dropdown li a {
	display: block; 
	padding: 12px 30px; 
	border-right: 1px solid #333;
	color: #fff;
	}
ul.dropdown li:last-child a {border-right: none;} /* Doesn't work in IE */

ul.dropdown li.hover,
ul.dropdown li:hover {
	background: #36f;
	color: black;
	position: relative;
	}
ul.dropdown li#thisPage.hover,
ul.dropdown li#thisPage:hover {
	background: #ff8b00;
	color:#fff;	
	}
ul.dropdown li.hover a {color: black;}

ul.dropdown ul li:hover a {
	background: #b2c0e5; /* level 2 sub menu background */
	}

#page-wrap ul.dropdown li a.nolink {
	background: #010028;
	color: #fff; 
	}
#page-wrap ul.dropdown li a.nolink:hover {	
	color: #99ff00;
	}

/* 
	LEVEL TWO
*/
ul.dropdown ul {
	width: 320px;
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: 0;
	}
ul.dropdown ul li {
	font-weight: normal;
	font-size:.9em;
	background: #b7c5ea;
	color: #000;
	border-bottom: 1px solid #ccc;
	float: none;
	}									  
                                   
ul.dropdown ul li a	{
	border-right: none;
	padding: 12px 50px;
	width: 100%;
	display: inline-block;  /* IE 6 & 7 Needs Inline Block */
	} 

/* 
/* content */
.container {
    color: #000;
    margin: 20px auto;
    position: relative;
    width: 900px;
}
#slideshow {
    border:1px #000 solid;
    box-shadow:4px 6px 6px #444444;
    display:block;
    margin:0 auto;
    height:280px;
    width:900px;
}
.container .slides {
    display:none;
}

#pagebody .col2 ul li {
	display: block; 
	padding: 10px 0 10px 0;
	font-size:.8em;
	float: left;
	zoom: 1;
	width: 90%;
}
#pagebody .col2 ul li a {text-decoration:underline;}

#pagebody .lcol {width: 250px;}

#pagebody .col2 li {
	text-align: center;
	padding:0;
	}

.subCat em{font-weight: 700;}

.col1 {
	width:50%;}

.col2 {
	float:right;
	width:40%;
}
#pagebody .col1 ul {margin-left: 18px;}

#contact #pagebody ul {
	background: transparent 0 0 url(../img/bkg_card.jpg)  ;
	border:solid 1px #666;
	}
#pagebody .col1 ul li {
	list-style: disc outside none;
	padding-left: 20px;
	line-height:2em;
}
#portfolio #pagebody ul li {
	float: left;
	padding:0.3em;
	margin:0 0.3em 0.3em 0;
	border:solid 10px rgba(51,102,255,0.3);
	border-radius:10px;
	-moz-border-radius: 10px;
	-webkit-border-radius:10px;
	}
#about #pagebody ul li {
	padding:0 0 1em;
}
#fav #pagebody ul li {
	padding:1em;
	width:400px;
	height:200px;
	float:left;
	border-bottom: 1px dotted #ccc;
	
}
#contact #col1 {
	width:495px;
	border:16px solid #e2e2e2;
	background:rgba(51,102,255,0.3);
	padding:20px;
}
#contact #col1 div {
	clear:both;
	margin:1em 0;
}
#contact #col1 label {
	display:block;
	float:none;
	font-size:1.0em;
	letter-spacing:1.5px;
	width:auto;
}
form#contactform input,
form#contactform textarea{
	border-color:#B7B7B7 #E8E8E8 #E8E8E8 #B7B7B7;
	border-style:solid;
	border-width:1px;
	color:#999;
	background:#efefef;
	font-size:0.9em;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
form#contactform input {	
	padding:5px;
}
form#contactform textarea {
	font-family:Arial, Tahoma, Helvetica, sans-serif;
	padding:0.6em 0.5em 0.7em;
}
form#contactform input:focus, 
form#contactform textarea:focus {
    border:1px solid #97d6eb;
	color:#333;
}
form#contactform #submit {
    width:132px;
    height:41px;
    background:url(../img/submit.jpg)no-repeat -4px -4px;
    text-indent:-9999px;
    border:none;
    margin-top:20px;
    cursor:pointer;
}
	
form#contactform #submit:hover {
	    opacity:0.7;
	}
#contact #col1 label.error {
	color:red;
	font-weight:bold;
	font-size:.8em;
	letter-spacing: 0;
}
/* Footer */
footer {
    border-top: 1px solid #C9C9C9;
    color: #010028;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}
footer span {
	margin-left: 2em;
	float:right;
	}
footer p:first-child
{
	background: transparent URL(../img/insured-via-sb_60.gif) 340px 1em no-repeat;
	line-height:5em;
	padding:1em 0 0 0;
}	
@media screen and (max-width: 980px) {
       footer,
	#pagebody {		
		padding:0 1em;
		}
	#portfolio #pagebody ul li {border:4px solid rgba(51,102,255,0.3);}
}

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
